
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    font-family:'Bangers', 'Carter One', sans-serif
}
.logo {
font-weight: 200;
font-size: 2rem;
}
.logo img {
    width: 100px; 
    height: auto; 
    display: flex;
    
}
nav  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 50px;
    background-color: rgb(255, 153, 0);
    color: #ffffff;
   
}
ul li {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
}
li a {
    appearance: none;
    background-color: transparent;
    border: 0.130em solid #000000;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    min-height: 2.1em;
    min-width: 0;
    outline: none;
    padding: 1em 2.1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   li a:disabled {
    pointer-events: none;
   }
   
   li a:hover {
    color: #fff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   li a:active {
    box-shadow: none;
    transform: translateY(0);
   }
   .container .fondo1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}



.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  div .box {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

 header {
    position: absolute;
    bottom: 30%; 
    padding: 0 50px;
}
  header h1 {
    font-size: 5rem;
}
  header h3 {
    margin-top: 15px;
    font-size: 2rem;
    margin-bottom: 15px;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    grid-template-columns: repeat(4, 1fr);
  
}
.item {
  grid-template-columns: repeat(4, 1fr);
}
.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    grid-template-columns: repeat(4, 1fr);
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.precio .buttom {
  color:#1877f2
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: var(--portland-orange);
    margin-bottom: 10px;
} 


footer {
  width: 100%;
  padding: 50px 0px;
  background: url(images/cta-bg.jpg);
  background-size: cover;
}
.container__footer {
  display: flex;
  flex-grow: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin: 100px;
  font-family: sans-serif;
}
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;

}
.box__footer .logo img{
  width: 120px;

}
.box__footer .terms {
  max-width: 350px;
  
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}
.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
  border-bottom: 2px solid #a5a5a5;
  padding-bottom: 10px;
  display: inline-block;
}
.box__footer a {
  margin-top: 10px;
  color: #6d6d6d;
  font-weight: 700;
  text-decoration: none;
  transition:  all .3s ease;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}



.box__footer a:hover {
color: #FFFFFF;
padding-left: 6px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box__copyright p{
  margin-top: 20px;
  color: #7a7a7a;
}
.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}
  