:root {


 
  --portland-orange: hsl(15, 84%, 57%);
/*para las fuentes.*/

  --ff-bangers: 'Bangers', cursive;
  --ff-carter_one: 'Carter One', cursive;
  --ff-nunito_sans: 'Nunito Sans', sans-serif;

 
  --section-padding: 40px;

  --radius-4: 4px;
  --radius-10: 10px;


.container {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  font-family:'Bangers', 'Carter One', sans-serif;
}
.logo {
    
font-weight: 200;
font-size: 2rem;
}

.logo img {
    width: 100px; 
    height: auto; 
    display: flex;
    border-radius: 35%;
}
nav  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    background-color:rgb(255, 153, 0);
    color: #ffffff;
    box-shadow: 0 0 5px;
}
 ul li {
    display: inline-block;
    list-style: none;
    font-weight: 500;
    font-size: 1.7rem;
    transition: all 0.3s ease 0s;
}
 li a {
    appearance: none;
    background-color: transparent;
    border: 0.130em solid #000000;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
    min-height: 2.1em;
    min-width: 0;
    outline: none;
    padding: 1em 2.1em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   li a:disabled {
    pointer-events: none;
   }
   
    li a:hover {
    color: #ffffff;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
    li a:active {
    box-shadow: none;
    transform: translateY(0);
   }
header {
    position: absolute;
    bottom: 30%; 
    padding: 0 50px;
}
header h1 {
    font-size: 5rem;
}
header h3 {
    margin-top: 15px;
    font-size: 2rem;
    margin-bottom: 15px;
}


.container .fondo1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.box {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
  }
  
  .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #000000;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
    border-color: #000000;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
  }
  
  button {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
  div .box {
    color: black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }

.tarjetas {
    width: 100%;
    display: flex;
    max-width: 1100%;
    font-family:'Bangers', 'Carter One', sans-serif;
}
.card {
    width: 100%;
    font-family: sans-serif;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
} 
.card img {
    width: 100%;
    height: 290px;
}
.card .contenido {
    padding: 15px;
    text-align: center;
}
.card .contenido p {
    line-height: 1.5;
    color: black;
}
.card .contenido h3 {
    font-weight: 400;
    margin-bottom: 15px;
}
.card .contenido a {
text-decoration: none;
display :inline-block;
padding: 7px;
margin-top: 10px;
color:var(--portland-orange);
border: 1px solid var(--portland-orange);
border-radius: 4px;
transition: all 400ms ease;
}
.card .contenido a:hover {
    background-color: var(--portland-orange);
color: #ffffff;
}
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
.form-control {
    margin: 20px;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
  }
  .title {
    font-size: 28px;
    font-weight: 800;
  }
  .input-field {
    position: relative;
    width: 100%;
  }
  
  .input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #ecedec;
    background: transparent;
    padding-left: 10px;
  }
  .input:focus {
    border: 1.5px solid var(--portland-orange);
  }
  .input-field .label {
    position: absolute;
    top: 25px;
    left: 15px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
  }
  .input-field .input:focus ~ .label,
  .input-field .input:valid ~ .label {
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: var(--portland-orange);
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 5px;
  }

  .special-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 70%;
  }
  .submit-btn {
    margin-top: 30px;
    height: 55px;
    background: #f2f2f2;
    border-radius: 11px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(180deg, #ed763e 0%, #f79c63 50%, #ffc289 100%);
    box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    cursor: pointer;
  }
  
  .submit-btn:hover {
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
  }

  /*sobre.html*/

.container{
  margin:auto;

}
.section2{
  width: 75%;
  margin: auto;
  padding: 100px 0;

}
  
.section_2-title{
  font: 'Bangers';
  font-size: 40px;
  color: var(--portland-orange);
  font-weight: bold;


}

.us{
display: flex;
}

.us-text{
      width: 60%;
      padding: 0 10% 0 0;

}
.us-paragraph{
  font: 'roboto', sans-serif;
  font-size: 18px;
  color: rgb(13, 10, 6);
  text-align: justify;
  


}
.paragraph-text{
  margin: 5px 0;

}

.us-rs{
  margin: 20px 0;
}

.us-rs-title{
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
  font-size: 20px;
  color: var(--portland-orange);
  font-weight: bold;


}

.rs-icon{
  margin: 10px 0;

}



.us-img{
  width: 40%;
  
}

.img-img{
 object-fit: cover;
 width: 100%;
 border-radius: 5px;


}

/*PARTE 2*/

.container-service {
  text-align: center; 
}

.img {
  display: inline-block; 
}

.section-title {
  font-family:'Bangers', 'Carter One', sans-serif
}

.span {
  font-family:'Bangers', 'Carter One', sans-serif 
}


.service .img {
  margin-inline: auto;
  margin-block-end: 30px;
}

.grid-list {
  display: grid; 
  gap: 20px; 
  grid-template-columns: repeat(4, 1fr); 
  list-style: none; 
  padding: 0; 
  font-family:'Bangers', 'Carter One', sans-serif;

}

.service-card {
  text-align: center; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
}
.card-text {
  font-family:'Bangers', 'Carter One', sans-serif 
}

.h3-card-title{
  font-family:'Bangers', 'Carter One', sans-serif
}

.service-card .card-title {
  margin-block: 10px;
}



.service-card .h3 {
  font-size: 2.4rem;
}

.card-title {
  color: var(--portland-orange); 
}

.span {
  color: var(--portland-orange); 
}

footer {
  width: 100%;
  padding: 50px 0px;
  background: url(images/cta-bg.jpg);
  background-size: cover;
}
.container__footer {
  display: flex;
  flex-grow: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin: 100px;
  font-family: sans-serif;
}
.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;

}
.box__footer .logo img{
  width: 120px;

}
.box__footer .terms {
  max-width: 350px;
  
  font-weight: 500;
  color: #7a7a7a;
  font-size: 18px;
}
.box__footer h2 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 700;
  border-bottom: 2px solid #a5a5a5;
  padding-bottom: 10px;
  display: inline-block;
}
.box__footer a {
  margin-top: 10px;
  color: #6d6d6d;
  font-weight: 700;
  text-decoration: none;
  transition:  all .3s ease;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}



.box__footer a:hover {
color: #FFFFFF;
padding-left: 6px;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.box__copyright p{
  margin-top: 20px;
  color: #7a7a7a;
}
.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}